[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/maddoxmarius
[access "refs/for/refs/*"]
	read = group user/maddoxmarius
	push = group user/maddoxmarius
	label-Code-Review = -2..+2 group user/maddoxmarius
	label-Verified = -1..+1 group user/maddoxmarius
	rebase = group user/maddoxmarius
	removeReviewer = group user/maddoxmarius
	submit = group user/maddoxmarius
[access "refs/heads/*"]
	read = group user/maddoxmarius
	create = group user/maddoxmarius
	push = +force group user/maddoxmarius
	pushMerge = group user/maddoxmarius
[access "refs/tags/*"]
	push = +force group user/maddoxmarius
	pushTag = group user/maddoxmarius
	pushSignedTag = group user/maddoxmarius
